{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> Project organizer {% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        <a href="/">
           Project organizer
        </a>
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <nav>
            <div class="Home"> <a href="/">Home</a> </div>
            <div class="Pro"> <a href="/projects">Projects</a> </div>
            <div class="New"> <a href="/project/new">New Project</a> </div>
            <div class="Cala"> <a href="/calendar">calendar</a> </div>
            <div class="Set"> <a href="/settings">Settings</a> </div>
        </nav>  
    </footer>

</body>

</html>

