{% extends 'pages/_base.jinja' %}


{% block content %}

    <nav aria-label="Calander Navigation">
        <div class="Upcoming"> <a href="/calendar">Upcoming</a> </div>
        <div class="Finished"> <a href="/calendar/finished">Finished</a> </div>
        <div class="Past due"> <a href="/calendar/pastdue">Pastdue</a> </div>
    </nav> 

    <h2>Current Projects</h2> 

    <section id="projects">

        {% for project in projects %}

            <div class="tasks">
                <h4>{{ project.name }} - {{ project.deadline }}</h4>
            
            {% if project %}
                    <p><a href="/project/{{ project.id }}/delete">delete</a></p>
            {% endif %}
            </div>

        {% else %}

            <p>No projects!</p>

        {% endfor %}     

    </section>

{% endblock %}

