{% extends 'pages/_base.jinja' %}


{% block content %}

    <nav>
        <div class="Upcoming"> <a href="/calendar">Upcoming</a> </div>
        <div class="Finished"> <a href="/calendar/finished">Finished</a> </div>
    </nav> 

    <h2>Upcoming Projects</h2>

    <section id="projects">

        {% for project in projects %}

            <div class="projects">
                <h3>{{ project.name }}</h3>
                <p>Deadline <strong>{{ project.deadline }}</strong></p>
            </div>

        {% else %}

            <p>No Projects!</p>

        {% endfor %}    

    </section>

{% endblock %}

