{% extends 'pages/_base.jinja' %}


{% block content %}

    <nav>
        <div class="Upcoming"> <a href="/calendar">Upcoming</a> </div>
        <div class="Finished"> <a href="/calendar/finished">Finished</a> </div>
        <div class="Past due"> <a href="/calendar/pastdue">Pastdue</a> </div>
    </nav> 

    <h2>Finished Projects</h2>

    <section id="projects">

        {% for project in projects %}

            <div class="projects">
                <h3>{{ project.name }}</h3>
                <p> Project name: <strong>{{project.name}}</strong></p>
                <p><a href="project/{{ project.id }}/delete">Delete</a></p>
            
            </div>

        {% else %}

            <p>No Projects!</p>

        {% endfor %}    

    </section>

{% endblock %}

