{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Projects</h2>

    <section id="">

        {% for project in projects %}

            <div class="project {{ 'pinned' if project.pinned }}">

                <header>
                    <h3>{{ project_name }}</h3>
                    {{ "📌" if project.pinned }}
                </header>

                <p>{{ project.body | paragraphs }}</p>


            </div>

        {% else %}

            <p>No Projects!</p>

        {% endfor %}

    </section>

{% endblock %}

