{% extends 'pages/_base.jinja' %}

{% block content %}

    <h2>New project</h2>

    <form method="post" action="/project/new">
        <label>

            Name
            <input type="text" name="name" required>

        </label>

        <label>
        
            Priority
            <input type="text" name="priority" required>

        </label>


        <button>Add project</button>
    
    </form>

{% endblock %}

