/*===========================================================
  Flash Message Styling
===========================================================*/

:root {
    --flash-message-text-col:     #201E45;
    --flash-message-bg-col:       #9D90AA;
    --flash-message-border-col:   #ffffff;
    --flash-message-accent-col:   #ccc;
    --flash-message-shadow-col:   rgba(0, 0, 0, 0.267);

    --flash-error-col:            #f72e2e;
    --flash-warning-col:          rgb(236, 106, 19);
    --flash-success-col:          rgb(50, 243, 50);
}


/* Flash Status Messages --------------------------------- */

#flash-messages {
    position: fixed;
    top: 0.5 rem;
    right: 0.5rem;

    .flash-message {
        width: 15rem;
        margin-block: 1rem;
        padding: 1rem 2rem 1rem 1rem;

        position: relative;

        color: var(--flash-message-text-col);
        background-color: color-mix(in srgb, var(--flash-message-bg-col), var(--flash-message-accent-col) 20%);
        border: 2px solid var(--flash-message-border-col);
        box-shadow: 0 0.1rem 0.5rem var(--flash-message-shadow-col);
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: bold;

        transform: translateX(120%);
        opacity: 0;
        animation: flash-message-slide-in 500ms forwards;

        &.success { --flash-message-accent-col: var(--flash-success-col); }
        &.warning { --flash-message-accent-col: var(--flash-warning-col); }
        &.error   { --flash-message-accent-col: var(--flash-error-col); }

        &:nth-child(2) { animation-delay: 100ms; }
        &:nth-child(3) { animation-delay: 200ms; }
        &:nth-child(4) { animation-delay: 300ms; }
        &:nth-child(5) { animation-delay: 400ms; }

        .close {
            position: absolute;
            top: 0;
            right: 0.5rem;
            color: var(--flash-message-border-col);
        }
    }
}

@keyframes flash-message-slide-in {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


